.colourradiobutton { height: 1em; padding: 5px; float: left;}
.colourwhiteblack { background-color: #ffffff; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
.colourblackwhite { background-color: #000000; color: #ffffff; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
.colourgreyblack { background-color: #cccccc; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
.colourbluebrown { background-color: #c5effd; color: #231f20; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
.colourpeachbrown { background-color: #ecc5a8; color: #372f18; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
.colouryellowblack { background-color: #fefcd7; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
.colourpinkblack { background-color: #ffe9e8; color: #000000; width: 260px; padding: 2px; border: 1px solid #000000; float: right; line-height: 13px; text-align: left; font-size: 11px;}
p.fp-login-radio {border-collapse: collapse; font-size: 5px; height: 5px; line-height: 5px; padding: 1px; text-align: left; width: 350px;}